@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@102.8,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gudea:ital,wght@0,400;0,700;1,400&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* A vírgula separa os seletores.
Isso significa:
“Aplique esse estilo ao html e também ao body.” */
html, body {
  display: flex;
  flex-direction: column;
}

.header-primario {
  background-color: #C00000;
  display: flex;
  
  
}

.logotipo-1 {
    width: 90px;
    padding: 8px;
    cursor: pointer;
}

.titulo-logotipo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    font-size:25px;
    color: white;
    font-weight: 900px;
    transition: 0.5s;
    cursor: pointer;
    font-family: "Dancing Script", cursive;  
}

h1 {
    padding: 7px;
    border-radius: 10px;
    transition: all 1.0s;
}

.titulo-logotipo  h1:hover {
    background-color: rgba(27, 27, 20, 0.1);
}

.titulo-logotipo:hover  {
    color: rgb(255, 255, 255);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    /* empurra tudo para o lado direito */
    margin-left: auto;
    margin-right: 40px;
    width: 10rem;
    
}
ul {
    display: flex;
    gap: 20px;
}

nav li {
    list-style: none;
    
}

nav li a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 500;
    border-radius: 10px;
    padding: 10px;
    transition: all 1.0s;
}

nav li a:hover {
    background-color: rgba(27, 27, 27, 0.1);
}


.header-secundario {
    background-color: #d80f0f;
    height: 19rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 26px;
    
}

header h2 {
    color: white;
    font-size: 50px;
}

.header-secundario p {
    font-size: 25px;
    text-align: center;
    color: white;

}
.cursos {
    display: flex;
}


.cursos a {
    margin-top: 12px;
    margin-left: 30px;
    border: 1px solid rgb(32, 94, 4);
    padding: 5px;
    border: none;
    /* background-color: rgba(131, 129, 30, 0.541); */
    border-radius: 10px;
    text-decoration: none;
    color: rgb(20, 1, 22);
    font-size: 17px;
    font-family: "Fredoka", sans-serif;
    font-weight: 550;
    
}

.cursos a:hover {
    color: #7a0505;
}





 .container {
    margin: 50px auto 0;
    text-align: center;
    width: 100%;
    max-width: 890px;
    padding: 8px;
    /* empurra o footer para o fim da tela */
  flex: 1;
  display: flex;
  flex-direction: column;
 
} 

.conteudo {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    margin-top: 7rem;

}

.fundadora {
    padding: 4px;
}

.fundadora img {
    width: 300px;
    border-radius: 8px;
}

figcaption {
    font-family: "Gudea", sans-serif;
}

.quemSomos h2 {
    color: #b10e0e;
    font-size: 35px;

}
.quemSomos2 {
    /* margin-bottom: 30px; */
    width: 100%;

    
    
}

.quemSomos2 p {
    /* margin-left: 20px; */
    font-size: 20px;
    padding: 25px;
    font-family: "Gudea", sans-serif;
    
  
    
   
} 




.informacoes {
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20rem;
    margin-top: 2rem;
    
}

.informacoes p {
    font-size: 18px;
    font-family: "Arimo", sans-serif;
    font-weight: bolder;
    margin-top: 20px;
}

.redes {
    margin-top: 20px;
      display: flex;
        gap: 45px;
        font-size: 22px;
       justify-content: center;
       padding: 8px;
}

.redes a {
        padding: 10px;
        border-radius: 50%;
        transition:  0.9s; 
        color: #213535;

        
    }

    .redes a:hover {
     background-color: rgba(154, 59, 192, 0.178);
  

}

footer {
    background-color: #7a0505;
     color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    
    
}



footer p {
    padding: 20px;
}


footer  a {
    color: white;
    transition: all 0.8s;
    text-decoration: none;
    
}

footer p strong:hover {
    color: rgb(127, 205, 211);
}

/* adaptando para dispositivos móveis */
@media (max-width: 930px ) {

    .header-primario {
        flex-direction: column;
        align-items: center;
    }

    nav {
        margin: 0 auto 0;
        padding: 15px;
    }

    nav li a {
        font-size: 20px;
    }

    .header-secundario {
        text-align: center;
        padding: 10px;
    }

    .header-secundario h2 {
        font-size: 30px;
    }

    .header-secundario p {
        font-size: 18px;
    }

    .conteudo {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .quemSomos2 h2 {
        padding: 18px;
    }

    .quemSomos2 p {
        font-size: 18px;
        margin-right: 1rem;
        font-weight: 400;
        padding: 0;
    }

    .fundadora {
        margin-top: 50px;
    }

    .fundadora img {
        width: 290px;
    }
    .informacoes {
        margin-top: 5rem;
    }
    .informacoes p {
        text-align: center;
    }
}


