@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@102.8,300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* A vírgula separa os seletores.
Isso significa:
“Aplique esse estilo ao html e também ao body.” */
html, body {
     height: 100%;
  display: flex;
  flex-direction: column;
}




header {
  background-color: #b30000;
  display: flex;
  
}

.logotipo-1 {
    width: 90px;
    padding: 8px;
    cursor: pointer;
}

.titulo-logotipo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 0;
    font-size: 40px;
    color: rgb(228, 223, 223);
    font-weight: 900px;
    transition: 0.5s;
    cursor: pointer;
    font-family: "Dancing Script", cursive;
    transition: 0.9s;
    
}

.titulo-logotipo:hover  {
    color: rgb(255, 255, 255);
}






.cursos {
    display: flex;
}


.cursos a {
    margin-top: 12px;
    margin-left: 30px;
    border: 1px solid rgb(32, 94, 4);
    padding: 5px;
    border: none;
    /* background-color: rgba(131, 129, 30, 0.541); */
    border-radius: 10px;
    text-decoration: none;
    color: rgb(20, 1, 22);
    font-size: 17px;
    font-family: "Fredoka", sans-serif;
    font-weight: 550;
    
}

.cursos a:hover {
    color: #7a0505;
}





 .container {
    margin: 50px auto 0;
    text-align: center;
    width: 100%;
    max-width: 890px;
    padding: 8px;
    /* empurra o footer para o fim da tela */
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
 
} 

.conteudo {
    display: flex;
    flex-direction: row;
    gap: 4rem;

}

.fundadora {
    padding: 4px;
    display: flex;
}

.fundadora img {
    width: 300px;
    border-radius: 8px;
}



.quemSomos h2 {
    color: #9b0808;
    font-size: 35px;
    font-weight: bolder;
     font-family: "Sigmar One", sans-serif;

}
.quemSomos2 {
    /* margin-bottom: 30px; */
    width: 100%;
    
    
}

.quemSomos2 p {
    margin-left: 20px;
    font-size: 22px;
    font-family: "Arimo", sans-serif;
    padding: 25px;
    
   
} 




.informacoes {
    margin-top: 45px;
}

.informacoes p {
    font-size: 18px;
    font-family: "Arimo", sans-serif;
    font-weight: bolder;

}

.redes {
    margin-top: 20px;
      display: flex;
        gap: 45px;
        font-size: 22px;
       justify-content: center;
       padding: 8px;
}

.redes a {
        padding: 10px;
        border-radius: 50%;
        transition:  0.9s; 
        color: #213535;

        
    }

    .redes a:hover {
     background-color: rgba(154, 59, 192, 0.178);
  

}

footer {
    background-color: #7a0505;
     color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}



footer p {
    padding: 20px;
}


footer  a {
    color: white;
    transition: all 0.8s;
    text-decoration: none;
    
}

footer p strong:hover {
    color: rgb(127, 205, 211);
}

/* adaptando para dispositivos móveis */
@media (max-width: 930px ) {
    .conteudo {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .quemSomos2 h2 {
        padding: 18px;
    }

    .quemSomos2 p {
        font-size: 18px;
        margin-right: 1rem;
        font-weight: 400;
        padding: 0;
    }

    .fundadora {
        margin-top: 50px;
    }

    .fundadora img {
        width: 290px;
    }
}


